@font-face {
  font-family: 'Objectivity-Light';
  src: url('media/Objectivity-Light.woff');
}

@font-face {
  font-family: 'Objectivity-Bold';
  src: url('media/Objectivity-Bold.woff');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('media/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'KaiseiHarunoUmi-Bold';
  src: url('media/KaiseiHarunoUmi-Bold.ttf');
}

@font-face {
  font-family: 'KaiseiHarunoUmi-Regular';
  src: url('media/KaiseiHarunoUmi-Regular.ttf');
}

@font-face {
  font-family: 'FiraCode-Regular';
  src: url('media/FiraCode-Regular.woff');
}

@font-face {
  font-family: 'Hind-Light';
  src: url('media/Hind-Light.ttf');
}

@font-face {
  font-family: 'Garamond';
  src: url('media/EBGaramond-Regular.ttf');
}

body {
  font-family: 'Hind-Light', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #f3ece3;
  margin: 0;
}

a:link {
  color: #f71735;
}

.six-columns-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 60px;
  align-items: center;
  margin-bottom: 30px;
}

.preview-image-wrapper, .small-preview-image-wrapper {
  border: 1px solid black;
}

.preview-image-wrapper img, .small-preview-image-wrapper img {
  width: 100%;
  position: relative;
  top: 0.8rem;
  left: 0.8rem;
  box-shadow: 0.3rem 0.3rem 2rem #7b7b7b;
  border-radius: 3px;
}

.preview-image-wrapper {
  width: 260px;
  height: 260px;
}

.small-preview-image-wrapper {
  width: 100px;
  height: 100px;
}

.paragraph-wrapper p {
  /* font-size: 20px; */
}

.article-preview-wrapper {
  justify-items: center;
}

.article-wrapper, .article-preview-wrapper {
  grid-column-start: 1;
  grid-column-end: 7;
}

.article-wrapper .article-preview-image-wrapper, .article-preview-wrapper .article-preview-image-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
}

.article-wrapper .abstract-wrapper {
  grid-column-start: 3;
  grid-column-end: 6;
}

.article-wrapper .title-wrapper {
  grid-column-start: 2;
  grid-column-end: 5;
}

.article-wrapper .body-wrapper {
  grid-column-start: 2;
  grid-column-end: 6;
}

.article-preview-wrapper .abstract-wrapper {
  grid-column-start: 3;
  grid-column-end: 5;
}

.abstract-wrapper .paragraph-wrapper .paragraph-body-text {
  margin-bottom: 0;
}

.arrow-link-a, .dot-link-a {
  text-decoration: none;
  color: initial;
}

.dot-link-a {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.arrow-link-svg {
  margin-right: 10px;
}

.arrow-link-svg-reverse > svg {
  transform: rotate(180deg);
}

.dot-link-svg {
  margin-right: 10px;
}

.dot-link-text {
  font-size: 20px;
  color: black;
}

.title-wrapper .title-body-text {
  font-family: 'Garamond', serif;
  font-weight: 100;
  font-size: 6rem;
  letter-spacing: -2px;
  line-height: 1;
  margin-top: 80px;
  margin-bottom: 40px;
}

.topbar-wrapper {
  grid-column-start: 1;
  grid-column-end: 7;
  height: 120px;
  align-items: center;
}

.topbar-back-home-link {
  justify-self: center;
}

.topbar-title {
  font-family: 'Garamond', serif;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 35px;
}

.fallback-wrapper {
  display: grid;
  justify-content: center;
}

.fallback-wrapper .title-wrapper h1 {
  font-size: 40px;
}

.code-wrapper {
  width: fit-content;
  max-width: 100%;
  background-color: black;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  font-family: 'FireCode-Regular', sans-serif;
  padding: 30px 20px 20px;
  margin-bottom: 60px;
  overflow: auto;
  position: relative;
}

.code-source-line {
  padding: 2px 5px;
  white-space: nowrap;
}

.code-type-ribbon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #f71735;
  font-size: 10px;
}


.article-promoted-separator {
  background: linear-gradient(to right, #f3ece3, #f71735, #f3ece3);
  /* width: a; */
  height: 1px;
  margin: 40px 0 40px;
}