@font-face {
  font-family: 'Objectivity-Light';
  src: url('media/Objectivity-Light.woff');
}

@font-face {
  font-family: 'Objectivity-Bold';
  src: url('media/Objectivity-Bold.woff');
}

body {
  font-family: 'Objectivity-Light', sans-serif;
  background-color: #f3ece3;
  margin: 0;
}

.six-columns-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 60px;
  align-items: center;
  margin-bottom: 30px;
}

.preview-image-wrapper, .small-preview-image-wrapper {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.preview-image-wrapper img, .small-preview-image-wrapper img {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.preview-image-wrapper {
  width: 260px;
  height: 260px;
}

.small-preview-image-wrapper {
  width: 100px;
  height: 100px;
}

.paragraph-wrapper p {
  font-size: 20px;
}

.article-preview-wrapper {
  justify-items: center;
}

.article-wrapper, .article-preview-wrapper {
  grid-column-start: 1;
  grid-column-end: 7;
}

.article-wrapper .article-preview-image-wrapper, .article-preview-wrapper .article-preview-image-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
}

.article-wrapper .abstract-wrapper {
  grid-column-start: 3;
  grid-column-end: 6;
}

.article-wrapper .title-wrapper {
  grid-column-start: 2;
  grid-column-end: 5;
}

.article-wrapper .body-wrapper {
  grid-column-start: 2;
  grid-column-end: 6;
}

.article-preview-wrapper .abstract-wrapper {
  grid-column-start: 3;
  grid-column-end: 5;
}

.abstract-wrapper .paragraph-wrapper .paragraph-body-text {
  margin-bottom: 0;
}

.link-a {
  text-decoration: none;
  color: initial;
}

.link-arrow-span {
  margin-right: 10px;
}

.title-wrapper .title-body-text {
  font-family: 'Objectivity-Bold', sans-serif;
  font-size: 72px;
  margin-bottom: 0px;
  margin-top: 60px;
}

.topbar-wrapper {
  grid-column-start: 1;
  grid-column-end: 7;
  height: 80px;
  align-items: center;
}

.topbar-title {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 35px;
}

.topbar-nav {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-template-columns: repeat(3, 1fr);
}

.topbar-nav-element {}

.fallback-wrapper {
  display: grid;
  justify-content: center;
}

.fallback-wrapper .title-wrapper h1 {
  font-size: 40px;
}