@font-face {
  font-family: 'Objectivity-Light';
  src: url('media/Objectivity-Light.woff');
}

body {
  font-family: 'Objectivity-Light', sans-serif;
}

.preview-image-wrapper {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.preview-image-wrapper img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.preview-image-promoted-wrapper {
  width: 260px;
  height: 260px;
}

.preview-image-normal-wrapper {
  width: 80px;
  height: 80px;
  border: 5px solid #707070;
}

.paragraph-wrapper p {
  font-size: 20px;
}

.article-wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.link-a {
  text-decoration: none;
  color: initial;
}

.link-arrow-span {
  margin-right: 10px;
}
